<h2>注文履歴一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>注文ID</th>
      <th>購入者</th>
      <th>注文日</th>
      <th>請求金額</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to order.id, admin_order_path(order) %>
        </td>
        <td>
          <%= order.customer.name %>
        </td>
        <td>
          <%= order.created_at.strftime("%Y/%m/%d") %>
        </td>
        <td>
          <%= order.billing_amount %>円
        </td>
        <td>
          <% if order.is_active %>
            有効
          <% else %>
            無効
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
